<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
      
    <div class="navlink"><a href="/logout">Log out</a></div>
      
    <div class="navlink"><a href="/addFunds">Add Funds</a></div>

    <div class="navlink"><a href="/blackJack">Black Jack</a></div>
      
      
  </nav>
    
    
    <div class="addFunds">
        
        <form id="userCreditForm" name="userCreditForm" action="/updateCredit" method="POST" class="domoForm col s12 m6 l4">
            <h2 class="formHead">Add Funds</h2>
            

            
            <div class="input-field">
                 <input type="number" id="creditUpdate" name="credit" class="validate">
                <label>Credits: </label>
                <input type="number" disabled="" id="creditUpdate" name="card">
                <label>Card Number: </label>
            </div>
            
            <div class="input-field">
                <input type="text" disabled="" id="creditUpdate" name="name">
                <label>Name on card: </label>
            </div>
            
            <div class="input-field">
                <input type="text" disabled="" id="creditUpdate" name="date">
                <label>Experation date: </label>
            </div>
            
                <input type="hidden" name="_csrf" value="tFyOL9Ae-um42HgHLCdweOO1Yj4_D7hrIQwE">
                <input type="submit" class="" value="Add Funds">
        </form>
        
    </div>
        
    
    

  <script src="/assets/bundle.js"></script>
</body>
</html>