<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Blackjack</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href=""/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
    
    <style>

        #game-board{
                background-color: #58a9ff;
                height: 375px;
                border-radius: 14px;
                border: 4px solid #DA4747;
        }

        #dealer-cards{
                width: 100%;
                text-align: center; 
        }

        #dealer-cards div{
                width: 100px;
                display: inline-block;
                display: inline-block;
                border-radius: 14px;
                border: 4px solid#DA4747;
                padding: 20px;
                width: 50;
                height: 75px;
                margin: 10px;
                font-size: 30px;
                background-color:white;
        }

        #player-cards{
                width: 100%;
                text-align: center; 
        }

        #player-cards div{
                width: 100px;
                display: inline-block;
                display: inline-block;
                border-radius: 14px;
                border: 4px solid #DA4747;
                padding: 20px;
                width: 50;
                height: 75px;
                margin: 10px;
                font-size: 30px;
                background-color: white;
        }

        .wrapperFunctions{
                background-color:#5df675;
                height: 100px;
                border-radius: 14px;
                border: 4px solid#25703B;
                margin-top: 10px;
                padding: 10px;
        }


</style>
    
<body>
  <nav><a href="/login"><img id="logo" src="" alt="face logo"/></a>
    <div class="navlink"><a href="/blackJack">Blackjack</a></div>
    <div class="navlink"><a href="/rules">Rules</a></div>
    <div class="navlink"><a href="/addFunds">Add Funds</a></div>
    <div class="navlink"><a href="/account">Account</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>    
  </nav>
    
    
     <div id="game">


     </div>
    
            <div id="game-board">

                <div id="dealer-cards"></div>

                <br>

                <div id="dealer-score"></div>

                <br>

                <div id="player-cards"></div>

                <br>

                <div id="player-score"></div>

                <br>

        </div>

        <div class="wrapperFunctions">
                <input type='button' id='new-game-button' value='New Game' onclick='newGame();'/>
                <input type='button' id='hit-button' value='Hit' onclick='hit();'/>
                <input type='button' id='stand-button' value='Stand' onclick='stand();'/>

                <div class="wrapperBet">
                        <div id=player>
                            Your Money: $0
                        </div>
                        Bet: 
                        <input type='number' id='bet' value='10' min='1'/>
                </div>
        </div>

        <br>


        <h2 id="message-board"></h2>

    
    

  <script src="/assets/blackJackBundle.js"></script>
</body>
</html>